<section>
    <h2>Multi User Details</h2>
    <sly data-sly-list.users="${resource.getChildren}">
        <sly data-sly-test="${users.name == 'user'}"
            data-sly-list.ud="${users.getChildren}">
            <ul>
                <li>
                    <p><strong>First Name: </strong> ${ud.fname}</p>
                    <p><strong>Last Name: </strong> ${ud.lname}</p>
                    <p><strong>Birth Date: </strong> ${ud.dob}</p>
                    <p><strong>Gender: </strong> ${ud.gender}</p>
                    <p><strong>Mobile No: </strong> ${ud.mobile}</p>
                    <p><strong>Email ID: </strong> ${ud.email}</p>
                    <p><strong>Address: </strong> ${ud.address}</p>
                </li>
            </ul>
        </sly>
    </sly>
</section>