<section>
    <h2>Nested Multi User Data Coming From Pure HTL</h2>
    <sly data-sly-list.users="${resource.getChildren}">
        <sly data-sly-test="${users.name == 'user'}"
            data-sly-list.ud="${users.getChildren}">
            <ul>
                <li>
                    <p><strong>First Name: </strong> ${ud.fname}</p>
                    <p><strong>Last Name: </strong> ${ud.lname}</p>
                    <p><strong>Birth Date: </strong> ${ud.dob}</p>
                    <p><strong>Gender: </strong> ${ud.gender}</p>
                    <p><strong>Mobile No: </strong>
                        <sly data-sly-list.contacts="${ud.getChildren}">
                            <sly data-sly-test="${contacts.name == 'contact'}"
                                data-sly-list.conInfo="${contacts.getChildren}">
                                <ul>
                                    <li>
                                        <p>${conInfo.mobile}</p>
                                        <p>${conInfo.email}</p>
                                    </li>
                                </ul>
                            </sly>
                        </sly>
                    </p>
                    <p><strong>Address: </strong> ${ud.address}</p>
                </li>
            </ul>
        </sly>
    </sly>
</section>
<section data-sly-use.nested="com.aem.practice.core.models.NestedMultiFieldModel">
    <h2>Nested Multi User Data Coming From Sling Models</h2>
    <sly data-sly-list.users="${nested.user}">
        <ul>
            <li>
                <p><strong>First Name: </strong> ${users.fname}</p>
                <p><strong>Last Name: </strong> ${users.lname}</p>
                <p><strong>Birth Date: </strong> ${users.dob}</p>
                <p><strong>Gender: </strong> ${users.gender}</p>
                <p><strong>Mobile No: </strong>
                    <sly data-sly-list.contacts="${users.contact}">
                        <ul>
                            <li>
                                <p>${contacts.mobile}</p>
                                <p>${contacts.email}</p>
                            </li>
                        </ul>
                    </sly>
                </p>
                <p><strong>Address: </strong> ${users.address}</p>
            </li>
        </ul>
    </sly>
</section>